/*
Author: Riley campillo
style sheet for speedreader.html
Determines colors, layout, and size
of the html elements
Section: CSC 337-001
*/
body{
    font-size: 18pt;
    font-family: "Garamond", sans-serif;
    background-color: #b6c1ff;
}

h1{
    font-size: 70pt;
    color:  #c1ffb6;
    text-align: center;
    border-bottom: solid;
    border-width: 4pt;
    border-color: #FF00FF;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 5pt;
    font-family: "Comic Sans MS";
}

button{
    font-size: 11pt;
    border-radius: 5pt;
    background-color: #FF00FF;
}
input{
    height: 18pt;
    font-size: 14pt;
}



#display{
    width:60%;
    height: 100px;
    margin: 0 auto;
    font-size: 36pt;
    font-family: monospace;
    line-height: 100px;
    border-width: 6px;
    border-color:#9ad3de;
    border-style: solid;
    border-radius: 5px;
    text-align: center;   
    background-color: white;

}

p{
    text-align: center;
    margin: auto;
    margin-top: 10pt;
    margin-bottom: 15pt;
}


#textbox{
    background-color: #FFFFFF;
    border:solid;
    border-color: gray;
    border-width: 1px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    }

#div-textarea{
 width: 50%;
 margin: 0 auto;
}


#submit{
    float:right;
    margin-top: 2%;    
}

#input-button, #correct-guesses, #bad-guesses{
    margin: 0 auto;
    color: #c1ffb6;

}

#correct-guesses, #bad-guesses{
    font-weight: bold;
    margin-top: 0;
    color: #FF00FF;

}

.prev_guess_header{
    font-size: 28pt;
    color: #c1ffb6;;
}

#guess-section{
    margin-top: 25pt;
    text-align: center;
    margin-top: 40pt;
    display: flex;
    justify-content: space-between;
}

#validator{
    position: fixed;
    bottom: 0;
}

